@model IEnumerable<CatalogDTO>

<ul>
    @foreach (CatalogDTO catalogDTO in Model)
    {
        <li id="treeNode-@catalogDTO.Id">
            <span>
                @*<a asp-controller="Catalog" asp-action="Products" asp-route-id="@catalogDTO.Id">@catalogDTO.Title</a>*@
                <a data-url="@($"/Catalog/Products?id={catalogDTO.Id}")" data-id="@catalogDTO.Id" name="ctlgBtn">@catalogDTO.Title</a>
            </span>
        </li>

        if (catalogDTO.Catalogs.Any())
            @Html.Partial("~/Views/Shared/Components/CatalogTree/_TreeNode.cshtml", catalogDTO.Catalogs);
    }
</ul>