@model ProductDTO

<tr id="item-@Model.Id">
    <td>@Model.Title</td>
    <td>@Model.Description</td>
    <td>@Model.Price</td>
    <td>@Model.SomeDate.GetValueOrDefault().ToShortDateString()</td>
    @if (User.IsInRole("admin"))
    {
        <td>
            <div class="row">
                <a class="btn btn-primary col-md-4 popupCreateEdit" data-url="/Product/CreateEdit" data-item-id="@Model.Id" data-parent-id="@Model.ParentCatalogId"
                   data-toggle="modal" data-target="#modal-view">
                    /
                </a>
                <a class="btn btn-primary col-md-4 popupDelete" data-url="/Product/Delete" data-id="@Model.Id"
                   data-toggle="modal" data-target="#modal-view">
                    -
                </a>
            </div>
           
        </td>
    }

</tr>